<section *ngIf="isSettingsLoad" [ngStyle]="{'background-image': 'url(' + backgroundImage + ')'}" id="forgotPassword">
    <div class="container-fluid">
        <div class="row full-height-vh">
            <div class="col-12 d-flex align-items-center justify-content-center">
                <div class="card card-inverse indigo-purple-gradient width-400 login-form">
                    <div class="login-user-img d-flex justify-content-center">
                        <img *ngIf="settings.company_logo" alt="element 06" class="mb-2" height="96" src="{{apiUrl}}/uploads/company_logo/{{settings.company_logo}}" width="200">
                        <img *ngIf="!settings.company_logo" alt="element 06" class="mb-2" height="96" src="assets/img/logos/vipspm_logo_large.png" width="200">
                    </div>
                    <div class="card-body text-center">
                        <div class="card-block">
                            <h3 class="text-uppercase mb-3">{{'forgot_password.title' | translate}}</h3>
                            <p><small>{{'forgot_password.title1' | translate}}</small></p>
                            <form (ngSubmit)="onSubmit()" [formGroup]="forgotPasswordForm" class="auth-forms">
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <input [ngClass]="{ 'is-invalid': isFormSubmitted && userControl.email.errors }" class="form-control" formControlName="email" placeholder="{{'forgot_password.create.placeholders.placeholder1' | translate}}" type="text"/>
                                        <div *ngIf="isFormSubmitted && userControl.email.errors" class="invalid-feedback">
                                            <div *ngIf="userControl.email.errors.required">{{'forgot_password.create.error_messages.message1' | translate}}</div>
                                            <div *ngIf="userControl.email.errors.email">{{'forgot_password.create.error_messages.message2' | translate}}</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group mb-0">
                                    <div class="col-md-12">
                                        <button class="btn btn-submit" type="submit">{{'common.reset' | translate}}</button>
                                        <a [routerLink]="['/login']" class="btn btn-cancel">{{'common.cancel' | translate}}</a>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
