<div class="modal-header">
    <h2 class="modal-title font-weight-normal">
        <i aria-hidden="true" class="fa fa-clock-o"></i>&nbsp;{{'timesheet.create.title1' | translate}}</h2>
    <button (click)="bsModalRef.hide()" aria-label="Close" class="close" data-dismiss="modal" type="button">
        <span aria-hidden="true">&times;</span></button>
</div>
<form (ngSubmit)="onSubmit()" [formGroup]="createTimesheetForm" class="form">
    <div class="modal-body">
        <div class="form-body">
            <div class="row">
                <div class="col-md-6">
                    <div [ngClass]="{ 'is-invalid': isFormSubmitted && timesheetControl.date.errors }" class="form-group">
                        <label for="date">{{'timesheet.create.fields.date' | translate}}
                            <span class="text-danger">&nbsp;*</span></label>
                        <div class="position-relative has-icon-left">
                            <input #dp1="bsDatepicker" [bsConfig]="datepickerConfig" bsDatepicker class="form-control"
                             formControlName="date" id="date" placeholder="{{'timesheet.create.placeholders.placeholder4' | translate}}" type="text"/>
                            <div class="form-control-position"><i class="ft-calendar"></i></div>
                        </div>
                        <div *ngIf="isFormSubmitted && timesheetControl.date.errors" class="invalid-feedback">
                            <div *ngIf="timesheetControl.date.errors.required">{{'timesheet.create.error_messages.message5' | translate}}</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div [ngClass]="{ 'is-invalid': isFormSubmitted && timesheetControl.hour.errors }" class="form-group">
                        <label for="hour">{{'timesheet.create.fields.hour' | translate}}
                            <span class="text-danger">&nbsp;*</span></label>
                        <div class="position-relative has-icon-left">
                            <input  aria-describedby="inputGroupPrepend2" class="form-control" formControlName="hour" id="hour" placeholder="{{'timesheet.create.placeholders.placeholder5' | translate}}"/>
                        </div>
                        <div *ngIf="isFormSubmitted && timesheetControl.hour.errors" class="invalid-feedback">
                            <div *ngIf="timesheetControl.hour.errors.required">{{'timesheet.create.error_messages.message6' | translate}}</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="note">{{'timesheet.create.fields.note' | translate}}</label>
                        <textarea [ngClass]="{ 'is-invalid': isFormSubmitted && timesheetControl.note.errors }" class="form-control" formControlName="note" id="note" placeholder="{{'timesheet.create.placeholders.placeholder3' | translate}}"></textarea>
                        <div *ngIf="isFormSubmitted && timesheetControl.note.errors" class="invalid-feedback">
                            <div *ngIf="timesheetControl.note.errors.required">{{'timesheet.create.error_messages.message4' | translate}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button (click)="onCancel()" class="btn btn-cancel mb-0" type="button">{{'common.close' | translate}}</button>
        <button class="btn btn-submit mb-0" type="submit">{{'common.create' | translate}}</button>
    </div>
</form>
