<div *ngIf="isPageloaded" class="row">
    <div class="col-sm-12">
        <div class="card bg-transparent">
            <div class="card-header p-0">
                <h4 class="sub-title mt-2"><span>{{'todos.title' | translate}}</span></h4>
                <button (click)="openTodoCreateModal()" *ngxPermissionsOnly="['admin', 'super_admin', 'todos_create']" class="btn btn-create mr-2 mb-0" tooltip="{{'common.create' | translate}}">
                    <i class="fa fa-plus"></i>
                </button>
            </div>
            <div *ngIf="todos.open.length > 0" class="card-content pt-1">
                <div class="card-body">
                    <div class="drag-container">
                        <div #pendingList="cdkDropList" (cdkDropListDropped)="drop($event)" [cdkDropListConnectedTo]="[doneList]" [cdkDropListData]="todos.open" cdkDropList class="item-list">
                            <div *ngFor="let item of todos.open" cdkDrag class="item-box">
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-md-1">
                                            <label class="checkbox-container checkbox-container-custom  p-1 mb-1 mt-0 mr-0">
                                                <input (change)="changeStatus(item, 2)" class="form-control" id="status{{item.id}}" name="status" type="checkbox"/>
                                                <span class="checkbox-checkmark"></span>
                                            </label>
                                        </div>
                                        <div class="col-md-8">
                                            <inline-edit-textarea (updateValue)="saveTodosDetail(item, 'description', $event);" [elementFor]="'todos.inline_edit.description' | translate" [fieldValue]="item.description" [isRequired]="'true'" [name]="'description'"></inline-edit-textarea>
                                        </div>
                                        <div class="col-md-3">
                                            <inline-edit-date (updateValue)="saveTodosDetail(item, 'due_date', $event);" [datepickerConfigs]="datepickerConfigs" [elementFor]="'todos.inline_edit.due_date' | translate" [fieldValue]="item.due_date" [format]="loginUser.settings.date_format" [isRequired]="'true'" [name]="'due_date'"></inline-edit-date>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
