<section>
    <div class="row">
        <div class="col-sm-12">
            <div class="card pl-2 pr-2">
                <div class="card-header pl-0 pr-0 border-bottom">
                    <h4 class="main-title mt-2"><span>{{'taxes.title' | translate}}</span></h4>
                    <button (click)="openTaxCreateModal()" *ngxPermissionsOnly="['admin', 'super_admin', 'taxes_create']" class="btn btn-create mb-0" tooltip="{{'common.create' | translate}}">
                        <i class="fa fa-plus"></i></button>
                </div>
                <div class="card-content pt-3 pb-3">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="table-responsive-xs table-responsive-sm table-responsive-md table-responsive-lg table-responsive-xl">
                                    <table [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-bordered table-hover b4-datatable" datatable id="tax_table" width="100%">
                                        <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>{{'taxes.columns.tax_name' | translate}}</th>
                                            <th>{{'taxes.columns.tax_rate' | translate}} (%)</th>
                                            <th class="text-center">{{'common.actions' | translate}}</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr *ngFor="let tax of taxes; index as i">
                                            <td>{{ i + 1 }}</td>
                                            <td>{{tax.tax_name}}</td>
                                            <td>{{tax.tax_rate}}</td>
                                            <td class="actions-dropdown">
                                                <div class="btn-group" dropdown>
                                                    <button aria-controls="dropdown-basic-1" class="dropdown-toggle btn-action" dropdownToggle id="button-basic-1" type="button">
                                                        <i class="fa fa-ellipsis-v"></i></button>
                                                    <ul *dropdownMenu aria-labelledby="button-basic-1" class="dropdown-menu animated fadeIn" id="dropdown-basic-1" role="menu">
                                                        <li role="menuitem">
                                                            <a (click)="openTaxEditModal(tax)" *ngxPermissionsOnly="['admin', 'super_admin', 'taxes_edit']" class="dropdown-item btn btn-edit btn-raised"><i class="fa fa-pencil-square-o" tooltip="{{'common.edit' | translate}}"></i></a>
                                                        </li>
                                                        <li role="menuitem">
                                                            <a (click)="deleteTax(tax.id)" *ngxPermissionsOnly="['admin', 'super_admin', 'taxes_delete']" class="dropdown-item btn btn-delete btn-raised"><i class="fa fa-trash-o" tooltip="{{'common.delete' | translate}}"></i></a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
