<!-- Card header -->
<div class="card-header pl-0 pb-0 pr-0 border-bottom">
    <h4 class="main-title mt-2"><span>{{'defects.title' | translate}}</span></h4>
</div><!-- Card body -->
<div class="card-body pt-3 hide_empty_message">
    <div class="row">
        <div class="col-sm-12">
            <div class="table-responsive-xs table-responsive-sm table-responsive-md table-responsive-lg table-responsive-xl">
                <table [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-bordered table-hover b4-datatable" datatable id="defects_table" width="100%">
                    <thead>
                    <tr>
                        <th>{{ 'defects.columns.id' | translate }}</th>
                        <th>{{ 'defects.columns.defect_name' | translate }}</th>
                        <th>{{ 'defects.columns.start_date' | translate }}</th>
                        <th>{{ 'defects.columns.end_date' | translate }}</th>
                        <th>{{ 'defects.columns.type' | translate }}</th>
                        <th>{{ 'defects.columns.severity' | translate }}</th>
                        <th>{{ 'defects.columns.status' | translate }}</th>
                    </tr>
                    </thead>
                    <tbody *ngIf="defects?.length != 0">
                    <tr *ngFor="let defect of defects">
                        <td>{{defect.generated_id}}</td>
                        <td>{{defect.defect_name}}</td>
                        <td>{{defect.start_date | dateTimeFormatFilter: loginUser.settings.date_format}}</td>
                        <td>{{defect.end_date | dateTimeFormatFilter: loginUser.settings.date_format}}</td>
                        <td class="budges-status">
                            <ng-container *ngFor="let type of ('defects.defect_types' | translate)">
                                <span *ngIf="type.id == defect.defect_type" class="badge badge-secondary">{{type.label}}</span>
                            </ng-container>
                        </td>
                        <td class="budges-status">
                            <ng-container *ngFor="let severity of ('defects.severities' | translate)">
                                <span *ngIf="severity.id == defect.severity" class="{{severity.class}}">{{severity.label | translate}}</span>
                            </ng-container>
                        </td>
                        <td class="budges-status">
                            <ng-container *ngFor="let status of ('defects.status' | translate)">
                                <span *ngIf="status.id == defect.status" class="{{status.class}}">{{status.label | translate}}</span>
                            </ng-container>
                        </td>
                    </tr>
                    </tbody>
                    <tfoot *ngIf="defects?.length == 0" class="tfoot_dt">
                    <tr>
                        <td class="no-data-available text-center" colspan="7">{{'common.datatable.sEmptyTable' | translate}}</td>
                    </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>
