<div class="modal-header">
    <h2 class="modal-title font-weight-normal">
        <i aria-hidden="true" class="fa fa-product-hunt modal-icon"></i>&nbsp;{{'project_planner.sprint.title1' | translate}}
    </h2>
    <button (click)="onCancel()" class="close" type="button"><span aria-hidden="true">&times;</span></button>
</div>
<form (ngSubmit)="onSubmit()" *ngIf="isPageLoaded" [formGroup]="createProjectSprintForm" class="form">
    <div class="modal-body">
        <div class="form-body">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="sprint_name">{{'project_planner.sprint.create.fields.sprint_name' | translate}}&nbsp;<span class="text-danger">*</span></label>
                        <input [ngClass]="{ 'is-invalid': isFormSubmitted && projectSprintControl.sprint_name.errors }" class="form-control" formControlName="sprint_name" id="sprint_name" placeholder="{{'project_planner.sprint.create.placeholders.placeholder1' | translate}}" type="text"/>
                        <div *ngIf="isFormSubmitted && projectSprintControl.sprint_name.errors" class="invalid-feedback">
                            <div *ngIf="projectSprintControl.sprint_name.errors.required">{{'project_planner.sprint.create.error_messages.message1' | translate}}</div>
                            <div *ngIf="projectSprintControl.sprint_name.errors.maxlength">{{'project_planner.sprint.create.error_messages.message2' | translate}}</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="sprint_members">{{'project_planner.sprint.create.fields.responsible' | translate}}</label>
                        <ng-select [items]="users" [multiple]="true" [searchable]="true" [selectOnTab]="true" bindLabel="firstname" bindValue="id" formControlName="sprint_members" labelForId="sprint_members" placeholder="{{'project_planner.sprint.create.placeholders.placeholder2' | translate}}">
                            <ng-template let-item="item" ng-option-tmp>
                                {{item.firstname}} {{item.lastname}}
                            </ng-template>
                        </ng-select>
                    </div>
                </div>
                <div class="col-md-6">
                    <div [ngClass]="{ 'is-invalid': isFormSubmitted && projectSprintControl.start_date.errors }" class="form-group">
                        <label for="start_date">{{'project_planner.sprint.create.fields.start_date' | translate}}</label>
                        <div class="position-relative has-icon-left">
                            <input #dp1="bsDatepicker" (bsValueChange)="startDateChange($event)" [bsConfig]="datepickerConfig" [maxDate]="projectEndDate" [minDate]="projectStartDate" bsDatepicker class="form-control" formControlName="start_date" id="start_date" placeholder="{{'project_planner.sprint.create.placeholders.placeholder3' | translate}}" type="text"/>
                            <div class="form-control-position"><i class="ft-calendar"></i></div>
                            <div *ngIf="isFormSubmitted && projectSprintControl.start_date.errors" class="invalid-feedback">
                                <div *ngIf="projectSprintControl.start_date.errors.required">{{'project_planner.sprint.create.error_messages.message4' | translate}}</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div [ngClass]="{ 'is-invalid': isFormSubmitted && projectSprintControl.end_date.errors }" class="form-group">
                        <label for="end-date">{{'project_planner.sprint.create.fields.end_date' | translate}}</label>
                        <div class="position-relative has-icon-left">
                            <input #dp2="bsDatepicker" [bsConfig]="datepickerConfig" [maxDate]="projectEndDate" [minDate]="createProjectSprintForm.get('start_date').value" bsDatepicker class="form-control" formControlName="end_date" id="end_date" placeholder="{{'project_planner.sprint.create.placeholders.placeholder4' | translate}}" type="text"/>
                            <div class="form-control-position"><i class="ft-calendar"></i></div>
                            <div *ngIf="isFormSubmitted && projectSprintControl.end_date.errors" class="invalid-feedback">
                                <div *ngIf="projectSprintControl.end_date.errors.required">{{'project_planner.sprint.create.error_messages.message5' | translate}}</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div [ngClass]="{ 'is-invalid': isFormSubmitted && projectSprintControl.status.errors }" class="form-group">
                        <label for="status">{{'project_planner.sprint.create.fields.status' | translate}}&nbsp;<span class="text-danger">*</span></label>
                        <ng-select [items]="('project_planner.sprint.status' | translate)" [searchable]="true" [selectOnTab]="true" bindLabel="label" bindValue="id" formControlName="status" labelForId="status" placeholder="{{'project_planner.sprint.create.placeholders.placeholder5' | translate}}"></ng-select>
                        <div *ngIf="isFormSubmitted && projectSprintControl.status.errors" class="invalid-feedback">
                            <div *ngIf="projectSprintControl.status.errors.required">{{'project_planner.sprint.create.error_messages.message6' | translate}}</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="hours">{{'project_planner.sprint.create.fields.estimate_hours' | translate}}</label>
                        <input [ngClass]="{ 'is-invalid': isFormSubmitted && (projectSprintControl.hours.errors || isHoursValid) }" class="form-control" formControlName="hours" placeholder="00:00" type="text"/>
                        <div *ngIf="isFormSubmitted && projectSprintControl.hours.errors" class="invalid-feedback">
                            <div *ngIf="projectSprintControl.hours.errors.pattern">{{'project_planner.sprint.create.error_messages.message7' | translate}}</div>
                        </div>
                        <div *ngIf="isHoursValid" class="invalid-feedback">
                            <div *ngIf="isHoursValid">{{'project_planner.sprint.create.error_messages.message8' | translate}} {{this.project.estimated_hours}} {{'common.hours' | translate}}.</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="description">{{'project_planner.sprint.create.fields.description' | translate}}</label>
                        <app-ngx-editor [placeholder]="'project_planner.sprint.create.placeholders.placeholder6' | translate" [spellcheck]="true" formControlName="description" height="100px" id="description" minHeight="50px"></app-ngx-editor>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button (click)="onCancel()" class="btn btn-cancel mb-0" type="button">{{'common.close' | translate}}</button>
        <button class="btn btn-submit mb-0" type="submit">{{'common.create' | translate}}</button>
    </div>
</form>
