<section *ngIf="isPageLoaded" id="basic-form-layouts">
    <form (ngSubmit)="onSubmit()" [formGroup]="editDefectForm">
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">{{'defects.title2' | translate }}</h4>
                    </div>
                    <div class="card-body">
                        <div class="px-3">
                            <div class="form-body">
                                <h4 class="form-section">
                                    <i class="fa fa-paper-plane"></i> {{'defects.headings.head1' | translate }}</h4>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="generated_id">{{'defects.create.fields.defect_ID' | translate }}&nbsp;<span class="text-danger">*</span></label>
                                            <input [ngClass]="{ 'is-invalid': isFormSubmitted && defectControl.generated_id.errors }" class="form-control" formControlName="generated_id" id="generated_id" readonly type="text"/>
                                            <div *ngIf="isFormSubmitted && defectControl.generated_id.errors" class="invalid-feedback">
                                                <div *ngIf="defectControl.generated_id.errors.required">{{'defects.create.error_messages.message4' | translate }}</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-8">
                                        <div class="form-group">
                                            <label for="defect_name">{{'defects.create.fields.defect_name' | translate }}&nbsp;<span class="text-danger">*</span></label>
                                            <input [ngClass]="{ 'is-invalid': isFormSubmitted && defectControl.defect_name.errors }" class="form-control" formControlName="defect_name" id="defect_name" placeholder="{{'defects.create.placeholders.placeholder1' | translate }}" type="text"/>
                                            <div *ngIf="isFormSubmitted && defectControl.defect_name.errors" class="invalid-feedback">
                                                <div *ngIf="defectControl.defect_name.errors.required">{{'defects.create.error_messages.message1' | translate }}</div>
                                                <div *ngIf="defectControl.defect_name.errors.maxlength">{{'defects.create.error_messages.message2' | translate }}</div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- <div class="col-md-6">
                                        <div [ngClass]="{ 'is-invalid': isFormSubmitted && defectControl.start_date.errors }" class="form-group">
                                            <label for="start_date">{{'defects.create.fields.start_date' | translate }}</label>
                                            <div class="position-relative has-icon-left">
                                                <input #dp1="bsDatepicker" (onHidden)="startDateChange()" [bsConfig]="datepickerConfig" [minDate]="projectStartDate" bsDatepicker class="form-control" formControlName="start_date" id="start_date" placeholder="{{'defects.create.placeholders.placeholder8' | translate }}" type="text"/>
                                                <div class="form-control-position"><i class="ft-calendar"></i></div>
                                                <div *ngIf="isFormSubmitted && defectControl.start_date.errors" class="invalid-feedback">
                                                    <div *ngIf="defectControl.start_date.errors">{{'defects.create.error_messages.message11' | translate }}</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div [ngClass]="{ 'is-invalid': isFormSubmitted && defectControl.end_date.errors }" class="form-group">
                                            <label for="end-date">{{'defects.create.fields.end_date' | translate }}</label>
                                            <div class="position-relative has-icon-left">
                                                <input #dp2="bsDatepicker" [bsConfig]="datepickerConfig" [minDate]="editDefectForm.get('start_date').value" bsDatepicker class="form-control" formControlName="end_date" id="end_date" placeholder="{{'defects.create.placeholders.placeholder9' | translate }}" type="text"/>
                                                <div class="form-control-position"><i class="ft-calendar"></i></div>
                                                <div *ngIf="isFormSubmitted && defectControl.end_date.errors" class="invalid-feedback">
                                                    <div *ngIf="defectControl.end_date.errors">{{'defects.create.error_messages.message12' | translate }}</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div [ngClass]="{ 'is-invalid': isFormSubmitted && defectControl.defect_type.errors }" class="form-group">
                                            <label for="defect_type">{{'defects.create.fields.defect_type' | translate }}&nbsp;<span class="text-danger">*</span></label>
                                            <ng-select [items]="('defects.defect_types' | translate)" [searchable]="true" [selectOnTab]="true" bindLabel="label" bindValue="id" formControlName="defect_type" labelForId="type" placeholder="{{'defects.create.placeholders.placeholder2' | translate }}"></ng-select>
                                            <div *ngIf="isFormSubmitted && defectControl.defect_type.errors" class="invalid-feedback">
                                                <div *ngIf="defectControl.defect_type.errors.required">{{'defects.create.error_messages.message3' | translate }}</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div [ngClass]="{ 'is-invalid': isFormSubmitted && defectControl.severity.errors }" class="form-group">
                                            <label for="severity">{{'defects.create.fields.severity' | translate }}&nbsp;<span class="text-danger">*</span></label>
                                            <ng-select [items]="('defects.severities' | translate)" [searchable]="true" [selectOnTab]="true" bindLabel="label" bindValue="id" formControlName="severity" labelForId="severity" placeholder="{{'defects.create.placeholders.placeholder4' | translate }}"></ng-select>
                                            <div *ngIf="isFormSubmitted && defectControl.severity.errors" class="invalid-feedback">
                                                <div *ngIf="defectControl.severity.errors.required">{{'defects.create.error_messages.message6' | translate }}</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="assigned_group_id">{{'defects.create.fields.assigned_group' | translate }}</label>
                                            <ng-select (change)="assignGroupChange($event)" [items]="teams" [searchable]="true" [selectOnTab]="true" bindLabel="team_name" bindValue="id" formControlName="assigned_group_id" labelForId="assigned_group_id" placeholder="{{'defects.create.placeholders.placeholder5' | translate }}"></ng-select>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="assign_member">{{'defects.create.fields.assigned_To' | translate }}</label>
                                            <ng-select [items]="teamsMembers" [multiple]="false" [searchable]="true" [selectOnTab]="true" bindLabel="firstname" bindValue="id" formControlName="assign_member" labelForId="assign_member" placeholder="{{'common.unassigned' | translate}}">
                                                <ng-template let-item="item" ng-option-tmp>
                                                    {{item.firstname}} {{item.lastname}}
                                                </ng-template>
                                            </ng-select>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="estimated_hours">{{'defects.create.fields.estimate_hours' | translate }}</label>
                                            <input [ngClass]="{ 'is-invalid': isFormSubmitted && defectControl.estimated_hours.errors }" class="form-control" formControlName="estimated_hours" placeholder="00:00" type='text'>
                                            <div *ngIf="isFormSubmitted && defectControl.estimated_hours.errors" class="invalid-feedback">
                                                <div *ngIf="defectControl.estimated_hours.errors.pattern">{{'defects.create.error_messages.message13' | translate }}</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div [ngClass]="{ 'is-invalid': isFormSubmitted && defectControl.status.errors }" class="form-group">
                                            <label for="status">{{'defects.create.fields.status' | translate }}&nbsp;<span class="text-danger">*</span>
                                            </label>
                                            <ng-select [items]="('defects.status' | translate)" [searchable]="true" [selectOnTab]="true" bindLabel="label" bindValue="id" formControlName="status" labelForId="status" placeholder="{{'defects.create.placeholders.placeholder3' | translate }}"></ng-select>
                                            <div *ngIf="isFormSubmitted && defectControl.status.errors" class="invalid-feedback">
                                                <div *ngIf="defectControl.status.errors.required">{{'defects.create.error_messages.message5' | translate }}</div>
                                            </div>
                                        </div>
                                    </div> -->
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">&nbsp;</div>
                    <div class="card-body">
                        <div class="px-3">
                            <div class="form-body">
                                <!-- <h4 class="form-section">
                                    <i class="ft-upload"></i> {{'defects.headings.head3' | translate }}</h4>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label>{{'defects.create.fields.choose_file' | translate }}</label>
                                            <input formControlName="file" type="hidden">
                                            <div #logodropzone class="dropzone dz-clickable">
                                                <div *ngIf="isLogoUploaded" class="dz-default dz-message">
                                                    <span><strong>{{'defects.create.error_messages.message10' | translate }}</strong></span>
                                                </div>
                                                <div *ngIf="isLogoLoaded && defect.attachment_hash" class="dz-preview dz-image-preview">
                                                    <div class="dz-image">
                                                        <img height="100" src="{{apiUrl}}/uploads/defect/{{defect.attachment_hash}}" width="100"/>
                                                    </div>
                                                    <a (click)="removeDropzoneImage()" class="btn btn-sm btn-block">{{ 'common.remove_file' | translate }}</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div> -->
                                <h4 class="form-section">
                                    <i class="ft-zap"></i> {{'defects.headings.head2' | translate }}</h4>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div [ngClass]="{ 'is-invalid': isFormSubmitted && defectControl.project_id.errors }" class="form-group">
                                            <label for="project_id">{{'defects.create.fields.project_name' | translate }}&nbsp;<span class="text-danger">*</span></label>
                                            <ng-select (change)="projectChange($event)" [items]="projects" [searchable]="true" [selectOnTab]="true" bindLabel="project_name" bindValue="id" formControlName="project_id" labelForId="project_id" placeholder="{{'defects.create.placeholders.placeholder6' | translate }}"></ng-select>
                                            <div *ngIf="isFormSubmitted && defectControl.project_id.errors" class="invalid-feedback">
                                                <div *ngIf="defectControl.project_id.errors.required">{{'defects.create.error_messages.message8' | translate }}</div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="project_version">{{'defects.create.fields.project_version' | translate }}</label>
                                            <ng-select [items]="projectVersion" [searchable]="true" [selectOnTab]="true" formControlName="project_version" placeholder="{{'defects.create.placeholders.placeholder7' | translate }}">
                                                <ng-template let-item="item" ng-option-tmp>{{item}}</ng-template>
                                            </ng-select>
                                        </div>
                                    </div> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf="customFields.length > 0" class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <div class="px-3">
                            <div class="form-body">
                                <h4 class="form-section">
                                    <i class="ft-star"></i>{{'defects.headings.head4' | translate }}</h4>
                                <div class="row mb-3">
                                    <div class="col-md-12">
                                        <app-show-custom-field-element [controls]="editDefectForm.get('custom_field')" [customFields]="customFields" [formArray]="'custom_field'" [formName]="editDefectForm" [isFormSubmitted]="isFormSubmitted"></app-show-custom-field-element>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <div class="px-3">
                            <div class="form-body">
                                <h4 class="form-section">
                                    <i class="ft-message-square"></i>{{'defects.headings.head5' | translate }}</h4>
                                <div class="row mb-3">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label for="description">{{'defects.create.fields.description' | translate }}</label>
                                            <app-ngx-editor [placeholder]="''" [spellcheck]="true" formControlName="description" height="100px" id="description" minHeight="50px"></app-ngx-editor>
                                        </div>
                                    </div>
                                    <div class="col-md-12 text-right">
                                        <a [routerLink]="['/requirements']" class="btn btn-cancel mb-0">{{'common.cancel' | translate}}</a>
                                        <button class="btn btn-submit mb-0" type="submit">{{'common.update' | translate}}</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</section>
