<div class="card card-height overflow-y">
    <div class="card-header border-bottom mb-3">
        <h4 class="card-title mt-2">{{'dashboard.estimate' | translate}}</h4>
        <div class="card-buttons">
            <a *ngxPermissionsOnly="['admin' ,'super_admin', 'estimates_view']" [routerLink]="['/estimates']" class="btn btn-rounded mb-0" tooltip="{{'common.lists' | translate}}"><i class="fa fa-list"></i></a>&nbsp;&nbsp;
            <a *ngxPermissionsOnly="['admin', 'super_admin', 'estimates_create']" [routerLink]="['/estimates/create']" class="btn btn-rounded mb-0" tooltip="{{'common.create' | translate}}"><i class="fa fa-plus"></i></a>
        </div>
    </div>
    <div [perfectScrollbar]="scrollConfig" class="card-body sidebar-content">
        <div class="card-block pt-0">
            <div *ngIf="estimates.length !=0" class="list-elements">
                <div *ngFor="let estimate of estimates" class="feed-element {{estimate.status}}">
                    <div class="feed-element-body">
                        <div class=" justify-content-center justify-content-lg-between">
                            <h6>
                                <a [routerLink]="['/estimates/detail', estimate.id]" tooltip="{{'common.view' | translate}}">{{estimate.estimate_number}}</a>
                                <span> - {{'estimates.columns.total_amount' | translate}} {{loginUser.currency.symbol}}{{estimate.total_amount | number : '1.2-2'}}</span>
                            </h6>
                        </div>
                        <div class="d-flex justify-content-between">
                            <div class="people-lists">
                                <a [routerLink]="['/users/profile', estimate.client.id]" class="btn rounded-circle text-dark" placement="top" tooltip="{{estimate.client.full_name}}">
                                    <img *ngIf="estimate.client.avatar" alt="Profile" class="img-sm rounded-circle" src="{{apiUrl}}/uploads/profile/{{estimate.client.avatar}}"/>
                                    <img *ngIf="!estimate.client.avatar" alt="Profile" class="img-sm rounded-circle" src="../assets/img/profile_small.jpg"/>
                                </a>
                            </div>
                            <div class="badge badge-pill mt-2">{{ estimate.valid_till | dateTimeFormatFilter: loginUser.settings.date_format}}</div>
                            <div class="budges-status">
                                <ng-container *ngFor="let status of ('estimates.status' | translate)">
                                    <span *ngIf="status.id == estimate.status" class="{{status.class}}">{{status.label}}</span>
                                </ng-container>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf="estimates?.length == 0" class="text-center">
                <img src="assets/img/norecord-img.png" width="50">
                <p class="mt-1">{{ 'common.empty_message.estimates' | translate }}</p>
            </div>
        </div>
    </div>
</div>
