<div class="modal-header">
  <h2 class="modal-title font-weight-normal">
    <i aria-hidden="true" class="fa fa-shopping-basket"></i>&nbsp;{{'menu.title3' | translate}}
  </h2>
  <button (click)="bsModalRef.hide()" aria-label="Close" class="close" data-dismiss="modal" type="button">
    <span aria-hidden="true">&times;</span></button>
</div>
<form (ngSubmit)="onSubmit()" *ngIf="isFormLoaded" [formGroup]="editMenuForm" class="form">
  <div class="modal-body">
    <div class="form-body">
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <label for="name">{{'menu.create.fields.name' | translate}}
              <span class="text-danger">&nbsp;*</span></label>
            <input [ngClass]="{ 'is-invalid': isFormSubmitted && menuControl.attr.errors }" class="form-control"
              formControlName="name" id="name" placeholder="{{'menu.create.placeholders.placeholder1' | translate }}"
              type="text" />
            <div *ngIf="isFormSubmitted && menuControl.attr.errors" class="invalid-feedback">
              <div *ngIf="menuControl.attr.errors.required">{{'menu.create.error_messages.message1' | translate}}</div>
            </div>
          </div>
        </div>
        <div class="col-md-12">
          <div class="form-group">
              <label for="description">{{'menu.create.fields.description' | translate}}</label>
              <textarea class="form-control" formControlName="description" id="description" placeholder="{{'menu.create.placeholders.placeholder2' | translate}}"></textarea>
          </div>
      </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button (click)="onCancel()" class="btn btn-cancel mb-0" type="button">{{'common.close' | translate}}</button>
    <button class="btn btn-submit mb-0" type="submit">{{'common.create' | translate}}</button>
  </div>
</form>