<section *ngIf="isSettingsLoad" [ngStyle]="{'background-image': 'url(' + backgroundImage + ')'}" id="resetPassword">
    <div class="container-fluid">
        <div class="row full-height-vh">
            <div class="col-12 d-flex align-items-center justify-content-center">
                <div class="card card-inverse indigo-purple-gradient width-400 login-form">
                    <div class="login-user-img d-flex justify-content-end">
                        <img *ngIf="settings.company_logo" alt="element 06" class="mb-2" height="96" src="{{apiUrl}}/uploads/company_logo/{{settings.company_logo}}" width="200">
                        <img *ngIf="!settings.company_logo" alt="element 06" class="mb-2" height="96" src="assets/img/logos/vipspm_logo_large.png" width="200">
                    </div>
                    <div class="card-body text-center">
                        <div class="card-block">
                            <h3 class="text-uppercase mb-3">{{'reset_password.title' | translate}}</h3>
                            <form (ngSubmit)="onSubmit()" [formGroup]="resetPasswordForm" class="auth-forms">
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <input [ngClass]="{ 'is-invalid': isFormSubmitted && userControl.password.errors }" autocomplete="off" class="form-control" formControlName="password" id="password" placeholder="Enter Password" type="password"/>
                                        <div *ngIf="isFormSubmitted && userControl.password.errors" class="invalid-feedback">
                                            <div *ngIf="userControl.password.errors.required">{{'reset_password.create.error_messages.message1' | translate}}</div>
                                            <div *ngIf="userControl.password.errors.minlength || userControl.password.errors.maxlength">{{'reset_password.create.error_messages.message2' | translate}}</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <input [ngClass]="{ 'is-invalid': isFormSubmitted && userControl.password_confirmation.errors }" autocomplete="off" class="form-control" formControlName="password_confirmation" id="password_confirmation" placeholder="Enter Confirm Password" type="password"/>
                                        <div *ngIf="isFormSubmitted && userControl.password_confirmation.errors" class="invalid-feedback">
                                            <div *ngIf="userControl.password_confirmation.errors.required">{{'reset_password.create.error_messages.message3' | translate}}</div>
                                            <div *ngIf="userControl.password_confirmation.errors.mustMatch">{{'reset_password.create.error_messages.message4' | translate}}</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group mb-0">
                                    <div class="col-md-12">
                                        <button class="btn btn-submit" type="submit">{{'common.submit' | translate}}</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
