<section *ngIf="isPageLoaded" class="team-boards">
    <div *ngIf="teams?.length != 0" class="row">
        <div *ngFor="let team of teams; let i = index" class="col-md-6">
            <div class="card">
                <div class="team-boards-head d-flex justify-content-between mb-3">
                    <h4 class="sub-title">{{i + 1}} - {{team.team_name}}</h4>
                    <div class="people-lists ml-4 mr-3">
						<span *ngFor="let member of team.members index as i; odd as isOdd; even as isEven">
							<a *ngIf="team.team_leader == member.id" [routerLink]="['/users/profile', member.id]" class="btn btn-profile-info rounded-circle text-dark popover-item images" placement="top" tooltip="{{'teams.title2' | translate}} - {{member.firstname}} {{member.lastname}}">
								<img *ngIf="member.avatar && team.team_leader == member.id" alt="Profile" src="{{apiUrl}}/uploads/profile/{{member.avatar}}">
								<img *ngIf="!member.avatar && team.team_leader == member.id" alt="Profile" src="../assets/img/profile_small.jpg">
							</a>
						</span>
                    </div>
                    <div class="people-lists">
                        <a *ngFor="let member of team.members index as i; odd as isOdd; even as isEven" [ngClass]="{'btn-profile-info popover-item': isOdd, 'btn-profile-danger': isEven, 'popover-item': i!=0}" [routerLink]="['/users/profile', member.id]" class="btn rounded-circle text-dark" placement="top" tooltip="{{member.firstname}} {{member.lastname}}">
                            <img *ngIf="member.avatar" alt="Profile" src="{{apiUrl}}/uploads/profile/{{member.avatar}}">
                            <img *ngIf="!member.avatar" alt="Profile" src="../assets/img/profile_small.jpg">
                        </a>
                    </div>
                </div>
                <div class="team-details">
                    <p [innerHTML]="team.description"></p>
                    <div class="row">
                        <div class="col-lg-12 col-xl-6">
                            <div class="team-details-box">
                                <h6>{{'projects.title' | translate}}</h6>
                                <span *ngIf="team.project">{{team.project?.length || '0'}}</span>
                            </div>
                        </div>
                        <div class="col-lg-12 col-xl-6">
                            <div class="team-details-box">
                                <h6>{{'teams.create.fields.members' | translate}}</h6>
                                <span>{{team.members.length}}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="teams?.length == 0" class="row">
        <div class="col-sm-12 text-center">
            <img src="assets/img/norecord-img.png" width="50">
            <p class="mt-1">{{ 'common.empty_message.teams' | translate }}</p>
        </div>
    </div>
</section>
