<!-- Card header -->
<div class="card-header pl-0 pr-0 mb-3 border-bottom">
    <h4 class="sub-title mt-2"><span>{{'settings.slack_settings.title' | translate}}</span></h4>
</div>
<form (ngSubmit)="onSubmit()" *ngIf="isFormLoad" [formGroup]="slackSettingsForm" class="form">
    <div class="form-body">
        <div *ngxPermissionsOnly="['admin', 'super_admin', 'slacksettings_create', 'slacksettings_edit']" class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label for="slack_client_id">{{'settings.slack_settings.create.fields.slack_client_id' | translate}}
                        <span class="text-danger">&nbsp;*</span></label>
                    <input [ngClass]="{ 'is-invalid': isFormSubmitted && slackSetting.slack_client_id.errors }" class="form-control" formControlName="slack_client_id" id="slack_client_id" placeholder="{{'settings.slack_settings.create.placeholders.placeholder1' | translate}}" type="input"/>
                    <div *ngIf="isFormSubmitted && slackSetting.slack_client_id.errors" class="invalid-feedback">
                        <div *ngIf="slackSetting.slack_client_id.errors.required">{{'settings.slack_settings.create.error_messages.message1' | translate}}</div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="slack_client_secret">{{'settings.slack_settings.create.fields.slack_client_secret' | translate}}
                        <span class="text-danger">&nbsp;*</span></label>
                    <input [ngClass]="{ 'is-invalid': isFormSubmitted && slackSetting.slack_client_secret.errors }" class="form-control" formControlName="slack_client_secret" id="slack_client_secret" placeholder="{{'settings.slack_settings.create.placeholders.placeholder2' | translate}}" type="input"/>
                    <div *ngIf="isFormSubmitted && slackSetting.slack_client_secret.errors" class="invalid-feedback">
                        <div *ngIf="slackSetting.slack_client_secret.errors.required">{{'settings.slack_settings.create.error_messages.message2' | translate}}</div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="slack_redirect_URL">{{'settings.slack_settings.create.fields.slack_redirect_url' | translate}}
                        <span class="text-danger">&nbsp;*</span></label>
                    <input [ngClass]="{ 'is-invalid': isFormSubmitted && slackSetting.slack_redirect_URL.errors }" class="form-control" formControlName="slack_redirect_URL" id="slack_redirect_URL" placeholder="{{'settings.slack_settings.create.placeholders.placeholder3' | translate}}" type="input"/>
                    <div *ngIf="isFormSubmitted && slackSetting.slack_redirect_URL.errors" class="invalid-feedback">
                        <div *ngIf="slackSetting.slack_redirect_URL.errors.required">{{'settings.slack_settings.create.error_messages.message3' | translate}}</div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label>{{'settings.slack_settings.create.fields.slack_status' | translate}}</label>
                    <div class="onoffswitch">
                        <input class="onoffswitch-checkbox" formControlName="slack_status" id="slack_status" name="slack_status" type="checkbox"/>
                        <label class="onoffswitch-label m-b-none" for="slack_status">
                            <span class="onoffswitch-inner"></span>
                            <span class="onoffswitch-switch"></span>
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="slackSettingsForm.get('slack_client_id').value && slackSettingsForm.get('slack_client_secret').value && slackSettingsForm.get('slack_redirect_URL').value" class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <a href="https://slack.com/oauth/v2/authorize?client_id={{slackSettingsForm.get('slack_client_id').value}}&scope=incoming-webhook&user_scope=admin,chat:write&redirect_uri={{slackSettingsForm.get('slack_redirect_URL').value}}&state={{loginUser.id}}" target="_blank"><img alt="Add to Sng servelack" height="40" src="https://platform.slack-edge.com/img/add_to_slack.png" srcSet="https://platform.slack-edge.com/img/add_to_slack.png 1x, https://platform.slack-edge.com/img/add_to_slack@2x.png 2x" width="139"/></a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 text-right">
                <a [routerLink]="['/']" class="btn btn-cancel">{{'common.cancel' | translate}}</a>
                <button *ngxPermissionsOnly="['admin', 'super_admin', 'slacksettings_create', 'slacksettings_edit']" class="btn btn-submit" type="submit">
                    <span>{{'common.save' | translate}}</span></button>
            </div>
        </div>
    </div>
</form>
