<div class="modal-header">
    <h2 class="modal-title font-weight-normal">
        <i aria-hidden="true" class="fa fa-lock"></i>&nbsp;{{'users.title5' | translate}}</h2>
    <button (click)="bsModalRef.hide()" aria-label="Close" class="close" data-dismiss="modal" type="button">
        <span aria-hidden="true">&times;</span></button>
</div>
<form (ngSubmit)="onSubmit()" [formGroup]="changeUserPasswordForm" class="bs4-forms">
    <div class="modal-body">
        <div class="form-body">
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="old_password">{{'users.create.fields.old_password' | translate}}&nbsp;<span class="text-danger">*</span></label>
                        <input [ngClass]="{ 'is-invalid': isFormSubmitted && userControl.old_password.errors }" class="form-control" formControlName="old_password" id="old_password" placeholder="{{'users.create.placeholders.placeholder11' | translate}}" type="password"/>
                        <div *ngIf="isFormSubmitted && userControl.old_password.errors" class="invalid-feedback">
                            <div *ngIf="userControl.old_password.errors.required">{{'users.create.error_messages.message7' | translate}}</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="password">{{'users.create.fields.new_password' | translate}}&nbsp;<span class="text-danger">*</span></label>
                        <input [ngClass]="{ 'is-invalid': isFormSubmitted && userControl.password.errors }" class="form-control" formControlName="password" id="password" placeholder="{{'users.create.placeholders.placeholder4' | translate}}" type="password"/>
                        <div *ngIf="isFormSubmitted && userControl.password.errors" class="invalid-feedback">
                            <div *ngIf="userControl.password.errors.required">{{'users.create.error_messages.message7' | translate}}</div>
                            <div *ngIf="userControl.password.errors.minlength || userControl.password.errors.maxlength">{{'users.create.error_messages.message8' | translate}}</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="password_confirmation">{{'users.create.fields.confirm_password' | translate}}&nbsp;<span class="text-danger">*</span></label>
                        <input [ngClass]="{ 'is-invalid': isFormSubmitted && userControl.password_confirmation.errors }" autocomplete="off" class="form-control" formControlName="password_confirmation" id="password_confirmation" placeholder="{{'users.create.placeholders.placeholder5' | translate}}" type="password"/>
                        <div *ngIf="isFormSubmitted && userControl.password_confirmation.errors" class="invalid-feedback">
                            <div *ngIf="userControl.password_confirmation.errors.required">{{'users.create.error_messages.message9' | translate}}</div>
                            <div *ngIf="userControl.password_confirmation.errors.mustMatch">{{'users.create.error_messages.message10' | translate}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button (click)="onCancel()" class="btn btn-cancel mb-0" data-dismiss="modal" type="button">{{'common.close' | translate}}</button>
        <button class="btn btn-submit mb-0" type="submit"><span>{{'common.change' | translate}}</span></button>
    </div>
</form>
