<section class="hide_empty_message">
    <div class="row">
        <div class="col-sm-12">
            <div class="card pl-2 pr-2">
                <div class="card-header pl-0 pr-0 border-bottom">
                    <h4 class="main-title mt-2"><span>{{'items.title' | translate}}</span></h4>
                    <div class="card-buttons">
                        <a *ngxPermissionsOnly="['admin', 'super_admin', 'taxes_view']" [routerLink]="['/taxes']" class="btn btn-create mb-0" tooltip="{{'taxes.title1' | translate}}"><i class="fa fa-percent"></i></a>
                        <button (click)="openItemCreateModal()" *ngxPermissionsOnly="['admin', 'super_admin', 'items_create']" class="btn btn-create mb-0" tooltip="{{'common.create' | translate}}">
                            <i class="fa fa-plus"></i></button>
                    </div>
                </div>
                <!-- Card content -->
                <div class="card-content pt-3 pb-3">
                    <!-- Card body -->
                    <div class="card-body">
                        <!-- Items list datatable -->
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="table-responsive-xs table-responsive-sm table-responsive-md table-responsive-lg table-responsive-xl">
                                    <table [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-bordered table-hover b4-datatable" datatable id="items_table" width="100%">
                                        <thead>
                                        <tr>
                                            <th>{{'items.columns.name' | translate}}</th>
                                            <th>{{'items.columns.description' | translate}}</th>
                                            <th>{{'items.columns.tax' | translate}}</th>
                                            <th>{{'items.columns.unit' | translate}}</th>
                                            <th>{{'items.columns.price' | translate}}</th>
                                            <th>{{'common.actions' | translate}}</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr *ngFor="let item of items; index as i">
                                            <td>{{item.name}}</td>
                                            <td>{{item.description}}</td>
                                            <td class="budges-status">
                                                <div *ngFor="let tax of item.taxes;">
                                                    <span class="open">{{tax.tax_name}} ({{tax.tax_rate}}%)</span>
                                                </div>
                                            </td>
                                            <td>{{item.unit}}</td>
                                            <td>{{loginUser.currency.symbol}}{{item.price}}</td>
                                            <td class="actions-dropdown">
                                                <div class="btn-group" dropdown>
                                                    <button aria-controls="dropdown-basic-1" class="dropdown-toggle btn-action" dropdownToggle id="button-basic-1" type="button">
                                                        <i class="fa fa-ellipsis-v"></i></button>
                                                    <ul *dropdownMenu aria-labelledby="button-basic-1" class="dropdown-menu animated fadeIn" id="dropdown-basic-1" role="menu">
                                                        <li *ngxPermissionsOnly="['admin', 'super_admin', 'items_edit']" role="menuitem">
                                                            <a (click)="openItemEditModal(item)" class="dropdown-item btn btn-edit btn-raised"><i class="fa fa-pencil-square-o" tooltip="{{'common.edit' | translate}}"></i></a>
                                                        </li>
                                                        <li *ngxPermissionsOnly="['admin', 'super_admin', 'items_delete']" role="menuitem">
                                                            <a (click)="deleteItem(item.id)" class="dropdown-item btn btn-delete btn-raised"><i class="fa fa-trash-o" tooltip="{{'common.delete' | translate}}"></i></a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </td>
                                        </tr>
                                        </tbody>
                                        <tfoot *ngIf="items?.length == 0" class="tfoot_dt">
                                        <tr>
                                            <td class="no-data-available text-center" colspan="6">{{'common.datatable.sEmptyTable' | translate}}</td>
                                        </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
