<div *ngIf="show" class="row">
    <div class="col-lg-6 d-none d-lg-block">
        <ul class="breadcrumb text-left m-0">
            <li class="breadcrumb-item"><a routerLink=""><i class="fa fa-home"></i></a></li>
            <li *ngFor="let breadcrumb of breadcrumbs; let last = last" [ngClass]="{'active': last}" class="breadcrumb-item">
                <ng-container *ngIf="breadcrumb.isHome">
                    <ng-container *ngIf="breadcrumb.hasParams && !last">
                        <a [routerLink]="[breadcrumb.url, breadcrumb.params]">{{ breadcrumb.label }}</a>
                    </ng-container>
                    <ng-container *ngIf="!breadcrumb.hasParams && !last">
                        <a [routerLink]="[breadcrumb.url]">{{ breadcrumb.label }}</a>
                    </ng-container>
                    <ng-container *ngIf="last">
                        <strong class="current-active">{{ breadcrumb.label }}</strong>
                    </ng-container>
                </ng-container>
            </li>
        </ul>
    </div>
</div>
