<div #container class="editable-container editable-inline">
    <div [hidden]="isEditView" class="editable-label">{{getValue(options)}}&nbsp;&nbsp;&nbsp;<span (click)="showEditable()"><i aria-hidden="true" class="fa fa-pencil"></i></span>
    </div>
    <form #form="ngForm" (ngSubmit)="save()" *ngIf="isEditView" class="form-inline editableForm" novalidate="">
        <label class="sr-only" for="txtField">{{txtField}}</label>
        <div class="input-group">
            <ng-select #select_component (select)="select($event, select_component)" [(ngModel)]="value" [closeOnSelect]="false" [items]="options" [name]="name" [ngClass]="{ 'is-invalid': select_component.isValueSelected }" [placeholder]="'shared.inline_edit.placeholders.placeholder2' | translate:{'elementFor':elementFor}" [required]="isRequired" [searchable]="true" [selectOnTab]="true" bindLabel="label" bindValue="value" labelForId="txtField"></ng-select>
            <button [disabled]="!form.valid" class="btn btn-inline-submit" type="submit">
                <i aria-hidden="true" class="fa fa-check"></i></button>
            <button (click)="showDetail()" class="btn btn-inline-cancel" type="button">
                <i aria-hidden="true" class="fa fa-times"></i></button>
        </div>
        <div class="invalid-feedback">
            <span *ngIf="select_component.isValueSelected">{{'shared.inline_edit.error_messages.message1' | translate:{'elementFor': elementFor} }}</span>
        </div>
    </form>
</div>
