<div #container class="editable-container editable-inline">
    <div [hidden]="isEditView" class="editable-label">
        {{fieldValue}}&nbsp;
        <span (click)="showEditable()"><i *ngxPermissionsOnly="permission" aria-hidden="true" class="fa fa-pencil"></i></span>
    </div>
    <form #form="ngForm" (ngSubmit)="save()" *ngIf="isEditView" class="form-inline editableForm" novalidate="">
        <label class="sr-only" for="txtField">{{name | titlecase}}</label>
        <div class="input-group">
            <input #txtField="ngModel" [(ngModel)]="value" [name]="name" [ngClass]="{ 'is-invalid': txtField.hasError('required') || txtField.hasError('pattern') || txtField.hasError('minlength')}" [placeholder]="'shared.inline_edit.placeholders.placeholder1' | translate:{'elementFor':elementFor}" [required]="isRequired" [type]="type" class="form-control input-sm" id="txtField" maxlength="{{maxLength}}" minlength="{{minLength}}" pattern="{{pattern}}"/>
            <button [disabled]="!form.valid" class="btn btn-inline-submit" type="submit">
                <i aria-hidden="true" class="fa fa-check"></i></button>
            <button (click)="showDetail()" class="btn btn-inline-cancel" type="button">
                <i aria-hidden="true" class="fa fa-times"></i></button>
        </div>
        <div class="invalid-feedback">
            <span *ngIf="txtField.hasError('required')">{{'shared.inline_edit.error_messages.message1' | translate:{'elementFor': elementFor | ucfirst} }}</span>
            <span *ngIf="txtField.hasError('pattern')">{{'shared.inline_edit.error_messages.message3' | translate:{'elementFor': elementFor | lowercase} }}</span>
            <span *ngIf="txtField.hasError('minlength')">{{'shared.inline_edit.error_messages.message4' | translate:{
                'elementFor': elementFor | ucfirst,
                'minLength': minLength
            } }}</span>
        </div>
    </form>
</div>
