<section>
    <div class="row">
        <div class="col-sm-12">
            <div class="card pl-2 pr-2">
                <div class="card-header pl-0 pr-0 border-bottom">
                    <h4 class="main-title mb-0 mt-2"><span>{{'providers.title' | translate}}</span></h4>
                    <div class="card-buttons">
                        <a [routerLink]="['/appointments']" class="btn btn-create mb-0" tooltip="{{'appointments.title' | translate}}"><i class="fa fa-calendar-plus-o"></i><span>{{'appointments.title' | translate}}</span></a>
                        <a (click)="openProviderCreateModal()" *ngxPermissionsOnly="['admin', 'super_admin']" class="btn btn-create mb-0" tooltip="{{'common.create' | translate}}"><i class="fa fa-plus"></i></a>
                    </div>
                </div>
                <div class="card-content pt-3 pb-3">
                    <div class="card-body">
                        <div class="table-responsive-xs table-responsive-sm table-responsive-md table-responsive-lg table-responsive-xl">
                            <table [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-bordered table-hover b4-datatable" datatable id="provider_table" width="100%">
                                <thead>
                                <tr>
                                    <th>#</th>
                                    <th>{{'providers.columns.firstname' | translate}}</th>
                                    <th>{{'providers.columns.lastname' | translate}}</th>
                                    <th>{{'providers.columns.email' | translate}}</th>
                                    <th>{{'providers.columns.color' | translate}}</th>
                                    <th>{{'providers.columns.actions' | translate}}</th>
                                </tr>
                                </thead>
                                <tbody *ngIf="providers?.length != 0">
                                <tr *ngFor="let provider of providers; index as i">
                                    <td class="text-center">{{ i + 1 }}</td>
                                    <td>{{provider.firstname}}</td>
                                    <td>{{provider.lastname}}</td>
                                    <td>{{provider.email}}</td>
                                    <td>
                                        <div [ngStyle]="{'background-color': provider.color}" class="width-30 height-30"></div>
                                    </td>
                                    <td class="actions-dropdown">
                                        <div class="btn-group" dropdown>
                                            <button aria-controls="dropdown-basic-1" class="dropdown-toggle btn-action" dropdownToggle id="button-basic-1" type="button">
                                                <i class="fa fa-ellipsis-v"></i></button>
                                            <ul *dropdownMenu aria-labelledby="button-basic-1" class="dropdown-menu animated fadeIn" id="dropdown-basic-1" role="menu">
                                                <li role="menuitem">
                                                    <a (click)="openProviderEditModal(provider)" *ngxPermissionsOnly="['admin', 'super_admin']" class="dropdown-item btn btn-edit btn-raised"><i class="fa fa-pencil-square-o" tooltip="{{'common.edit' | translate}}"></i></a>
                                                </li>
                                                <li role="menuitem">
                                                    <a (click)="deleteProvider(provider.id)" *ngxPermissionsOnly="['admin', 'super_admin']" class="dropdown-item btn btn-delete btn-raised"><i class="fa fa-trash-o" tooltip="{{'common.delete' | translate}}"></i></a>
                                                </li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                                <tfoot *ngIf="providers?.length == 0" class="tfoot_dt">
                                <tr>
                                    <td class="no-data-available text-center" colspan="5">{{'common.datatable.sEmptyTable' | translate}}</td>
                                </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
